html, body {
  padding: 0;
  margin: 0;
}

main {
  width: 1200px;
  margin: 0 auto;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.character {
  width: 400px;
  border: solid 1px black;
  border-radius: 10px;
  box-sizing: border-box;
}

.top_info {
  display: flex;
}

.image_frame {
  width: 163px;
  height: 227px;
}

.image_frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
